VITE_SUPABASE_URL=https://bhaudjxjxscvbytjnibd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoYXVkanhqeHNjdmJ5dGpuaWJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcwODQ5MjgsImV4cCI6MjA4MjY2MDkyOH0.vvt9lmmEbz0w9vF5AAm4j95LL03dEAhiGeq9DwD2kOg
